---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Erik Taheri">
  <main class="container relative mx-auto p-4 print:p-12 md:p-16 flex flex-col flex-1 justify-center">
    <h2 class="text-4xl">
      Hi, I'm Erik Taheri, a technologist based in Buffalo, NY. I'm
      currently an engineering lead at <a 
	  class="hover:underline"
	  href="https://www.torch.io">Torch</a>.
    </h2>
  </main>
</Layout>
