---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import meImg from "../images/me.jpeg";
import { Github, Linkedin } from "lucide-astro";
---

<Layout title="Links">
  <main class="flex flex-col items-center justify-center p-4 pt-10 flex-1">
    <Image src={meImg} alt="Erik Taheri" class="w-32 h-32 rounded-full" />
    <h1 class="text-2xl mt-4">Erik Taheri</h1>
    <section class="text-sm max-w-[400px] text-center">
      <p>Technologist based in Buffalo, NY.</p>
    </section>
    <ul class="flex flex-col gap-y-4 pt-10 min-w-[300px]">
      <li
        class="border border-black border-2 w-full text-center p-4 text-xl font-semibold"
      >
        <a href="/" class="block">My Site</a>
      </li>
    </ul>
    <ul class="flex gap-4 items-center justify-center flex-wrap pt-10">
      <li class="border border-black border-2 rounded-full">
        <a
          href="https://github.com/etaheri"
          class="block p-4"
          aria-label="GitHub"
        >
          <Github size="32" aria-label="GitHub" />
          </a
        >
      </li><li class="border border-black border-2 rounded-full">
        <a
          href="https://www.linkedin.com/in/erik-taheri-9659a934/"
          class="block p-4"
          aria-label="LinkedIn"
        >
          <Linkedin size="32" aria-label="LinkedIn" />
        </a>
      </li>
    </ul>
  </main>
</Layout>
