---
interface Props {
  title: string;
  route?: string;
}

const { title, route } = Astro.props;

const currentYear = new Date().getFullYear();

import "@fontsource-variable/space-grotesk";

import { Image } from "astro:assets";

import { SEO } from "astro-seo";

import signature from "../images/signature.png";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      description="Erik Taheri is an experienced technologist based in Buffalo, NY."
      titleTemplate="%s | Erik Taheri"
      openGraph={{
        basic: {
          title: "Erik Taheri is an experienced technologist based in Buffalo, NY.",
        type: "website",
        image: "https://eriktaheri.com/eriktaheri.jpg",
        url: "https://eriktaheri.com",
        },
      }}
      twitter={{
        creator: "@eriktaheri",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
      }}
    />
  </head>
  <body class="bg-white flex flex-col h-full">
    <header
      class="flex flex-row items-center justify-between px-4 py-8 print:hidden"
    >
      <a href="/"><h1 class="font-bold">ET.</h1></a>
      <nav class="flex justify-center space-x-4">
        <a
          href="/resume"
          class=`${route ==='resume' ? 'underline' : 'hover:underline'}`
          >Resume</a
        >
      </nav>
    </header>
    <slot />
    <footer class="text-center text-gray-500 text-sm mt-8 print:hidden">
      <Image
        class="h-16 w-auto mx-auto mb-4"
        src={signature}
        alt="Erik Taheri"
      /><p>&copy; {currentYear} Erik Taheri</p>
      <p>Go Bills!</p>
    </footer>
  </body>
</html>
